{% extends "base.html" %}
{% load static %}

{% block title %}Agregar Publicación{% endblock %}

{% block content %}
<section id="hero" class="hero section dark-background">
  <img src="{% static 'assets/img/hero-bg.jpg' %}" alt="" data-aos="fade-in">
  <div class="container" data-aos="fade-up">

    <h1 class="text-white">Agregar Publicación</h1>

    <div class="bg-light p-4 rounded shadow mt-4">
      <form method="post">
        {% csrf_token %}
        <div class="mb-3">
          {{ form.titulo.label_tag }}
          {{ form.titulo }}
        </div>
        <div class="mb-3">
          {{ form.contenido.label_tag }}
          {{ form.contenido }}
        </div>
        <button type="submit" class="btn btn-success">Guardar</button>
        <a href="{% url 'revista:publicaciones' %}" class="btn btn-secondary">Cancelar</a>
      </form>
    </div>

  </div>
</section>
{% endblock %}
