{% extends "base.html" %}
{% load static %}

{% block title %}Editar Publicación{% endblock %}
{% block logo %}Editar Publicación{% endblock %}

{% block content %}
<section id="hero" class="hero section dark-background">
  <img src="{% static 'assets/img/hero-bg.jpg' %}" alt="">
  <div class="container mt-5 bg-light p-4 rounded shadow text-dark" data-aos="fade-up">
    <h2>Editar Publicación</h2>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary">Guardar Cambios</button>
      <a href="{% url 'revista:publicaciones' %}" class="btn btn-secondary">Cancelar</a>
    </form>
  </div>
</section>
{% endblock %}
