{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>{% block title %}Mi Web{% endblock %}</title>

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Fonts y CSS -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">
</head>

<body class="index-page">

  <!-- Header -->
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="{% url 'home:home' %}" class="logo d-flex align-items-center">
        <h1>{% block logo %}Mi Web{% endblock %}</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="{% url 'home:home' %}" class="active">Home</a></li>
          <li><a href="{% url 'revista:estudiantes' %}">Estudiantes</a></li>
          <li><a href="{% url 'revista:administradores' %}">Administradores</a></li>
          <li><a href="{% url 'revista:publicaciones' %}">Publicaciones</a></li>
          <li><a href="{% url 'cuentas:registro' %}" class="text-primary fw-bold">Registrarse</a></li> 
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>
    </div>
  </header>

  <main class="main">
    {% block content %}
    {% endblock %}
  </main>

  <!-- Footer -->
  <footer id="footer" class="footer light-background">
    <div class="container text-center">
      <p>© 2025 Mi Web. Todos los derechos reservados.</p>
    </div>
  </footer>

  <!-- Archivos JS -->
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/js/main.js' %}"></script>
</body>
</html>
